@charset "utf-8";
/* CSS document */
body 
{background-image: url(../IMAGES/bg_blog.jpg);
 background-size: cover;
 font-family: Charter, Verdana;    
}

a {
   text-decoration: none;
   color: dimgray;
}

h1, h2, h3 {
    margin: 0;
    padding: 25px;
}

#container {
    background-color: #cce1d7;
    width: 1400px;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

.login {
    color: #46524c;
    text-align: right;
    font-size: 15px;
}

.header {
    text-align: left;
}

.content {
    padding: 0px;    
}

.topnav {
    overflow: hidden;
}

.topnav a {
    display: block;
    text-align: center;
    padding: 5px 35px;
    text-decoration: none;
    font-size: 20px;
    padding-left: 150px;
    font: Verdana;
}

.topnav li {
    list-style: none;   
}

.topnav ul {
    float: left;
}

.topnav ul li {
    float: left;
    list-style: none;
    position: relative;
}

#nav ul li a {
    display: block;
    font-family: Verdana;
    color: #46524c;
    font-size: 15px;
    padding: 24px 14px;
    text-decoration: none;
}

.topnav ul li ul {
    display: none;
    position: absolute;
    color: #456871;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

.topnav ul li:hover ul {
    display: block;
    position: absolute;
    padding: 10px;
    background-color: cadetblue;
    padding-right: 10px;
    border-radius: 0px 0px 4px 4px;
}

.topnav ul li ul li {
    padding: 8px 14px;
}

.topnav ul li ul li a {
    border-radius: 4px;
}

.topnav ul li ul li a:hover {
    color: #557b84;
}

.header2 {
    flex: 70%;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: #ffffff;
    clear: both;
    border-radius: 30px;
    background-color: #69382c;
}

.blog-posts {
    display: flex;
    justify-content: center;
    clear: both;
}

.blog-posts > div {
    width: 100%;
    margin: 40px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}


.footer {
    text-align: center;
    background-color: #cce1d7;
    padding: 20px;
    color: #46524c;
    font-size: 15px;
}